#root {
  margin: 0 0;
  padding: 0;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}


@media screen and (max-width: 768px) {
  .product-form-container {
    padding: 10px !important;
    max-height: none !important;
    height: auto !important;
  }

  .product-form-container form {
    gap: 12px !important;
  }

  .product-form-container input,
  .product-form-container textarea {
    font-size: 16px !important;
  }

  .product-form-container button {
    font-size: 16px !important;
    padding: 6px 8px !important;
  }
}

@media screen and (max-width: 768px) {
  .top-navbar {
    flex-direction: column !important;
    gap: 6px;
    padding: 10px 10px !important;
  }

  .top-navbar li,
  .top-navbar h2 {
    font-size: 18px !important;
    text-align: center;
    word-wrap: break-word;
  }

  .top-navbar li:first-child {
    font-size: 20px !important;
  }
}
